.cardstyle {
  color: #7986D1;
  border: 1px solid #000000;
}


.headerstyling{
    background-color: #CAD9DB;
}

.inputstyle{
  color:#7986D1;
}

.resultstyle{
  color: #7986D1;
}

.App{
  background-color: #FBFEFB;
  border: 1px solid #CAD9DB;
}
